* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --ImgSize: 800px;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #42055e;
}

.AllCards{
    padding:5px;
    margin:30px;
    list-style-type: none;
    width: calc(5*10 + 80*6px);
    height: calc(4*10 + 8*5px);
    background-color: black;
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;

}

.OneCard{
    margin: auto;
    border-radius: 10px;
    background-color: rgb(154, 14, 147);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 20%;
    text-align: center;
    width: 150px;
    height: 150px;
    perspective: 1000px;

}

.OneCard .Front {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.OneCard .Back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.OneCard.flipped .Front {
    transform: rotateY(180deg);
}

.OneCard.flipped .Back {
    transform: rotateY(0deg);
}

img{
    width: 60%;
    height: 60%;
}
